body {
    direction: rtl;
}

.mainBody {
    margin-right: 200px;
    min-width: 550px;
    max-width: 1200px;
}

#roleCheckbox {

}

.radio-block {
    display: flex;
    align-items: center;
}

.radio-label {
    margin-right: 10px;
}

.subjectListIcon {
    float: left;
    margin-right: 20px !important;
}

.subjectListItem {
    width: fit-content;
    margin-right: 20px !important;
}